.DS_Store
.Rproj.user
*.pptx
# external data
0001_hairpin/data
0001_hairpin/seqs
0002_phylogenetics/vvl
0002_phylogenetics/CG6282
0002_phylogenetics/data
0003_hairpinConservation/data
0003_miRNA/data
# large binaries
2025_SCR.pptx
~$CG6282.docx
